* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(176, 180, 180);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
.top{
  display: flex;
  gap: 20px;

}

.input {
  border: none;
  padding: 5px 10px;
  color: gray;
}

.add-btn {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(3, 198, 3);
  color: rgb(60, 60, 60);

}
.todos{
  display: flex;
  gap: 20px;
}



.lists{
  display: flex;
  gap: 20px;
}